.entry  {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 86px);
  padding: 56px 30px 30px;
}

.entry__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 396px;
}

.entry__title {
  margin: 0;
  margin-top: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
}

.entry__fields-container {
  display: flex;
  justify-content: flex-start;
  align-self: stretch;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 80px;
}

.entry__field-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.entry__field-name:first-of-type {
  margin-top: 0;
}

.entry__field {
  padding: 15px;
  background-color: #2F2F2F;
  outline: 0;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.entry__field:focus {
  outline: none;
  background-color: rgb(223, 223, 223);
  color: #000;
}

.entry__field_type_error {
  -webkit-text-fill-color: #EE3465;
  color: #EE3465;
}

.entry__error {
  display: none;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.entry__error_visible {
  display: block;
}

.entry__signup-button {
  width: 100%;
  height: 45px;
  margin-top: auto;
  padding: 0;
  background-color: #4285f4;
  outline: 0;
  border: none;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.entry__signup-button_disable {
  opacity: .3;
}

.entry__signup-button_disable:hover {
  opacity: .3;
}

.entry__caption {
  margin: 0;
  margin-top: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #8b8b8b;
}

.entry__caption-link {
  margin-left: 7px;
  text-decoration: none;
  color: #4285F4;
}

@media screen and (min-width: 768px) {
  .entry  {
    justify-content: center;
    min-height: 100vh;
    padding: 0;
  }

  .entry__form {
    align-items: stretch;
    flex-grow: 0;
    min-height: 560px;
  }
  
  .entry__title {
    margin-top: 40px;
    text-align: left;
  }
  
  .entry__fields-container {
    margin-top: 40px;
  }
  
  .entry__signup-button {
    font-size: 14px;
    line-height: 17px;
  }
  
  .entry__caption {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
  }

  .entry__caption-link {
    margin-left: 6px;
  }
}
