.menu__button {
  width: 22px;
  height: 20.5px;
  padding: 0;
  margin-right: 9px;
  margin-top: 2px;
  background: url('../../images/menu__button.svg') no-repeat center center;
  background-size: 100% 100%;
  background-color: inherit;
  border: 0;
  outline: 0;
}

.menu__cover {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .5s, visibility .5s ease;
  visibility: hidden;
}

.menu__cover_active {
  opacity: .3;
  visibility: visible;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  height: 100vh;
  background-color: #202020;
  transform: translateX(100%);
  transition: transform .8s ease;
}

.menu__container_type_active {
  transform: translateX(0);
}

.menu__container_type_desktop {
  display: none;
}

.menu__nav {
  margin-top: 144px;
}

.menu__nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu__nav-list-item {
  margin-bottom: 24px;
  list-style: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.menu__nav-list-item:last-child {
  margin-bottom: 0;
}

.menu__nav-link {
  text-decoration: none;
  color: #fff;
}

.menu__nav-link_active {
  padding-bottom: 7px;
  border-bottom: 2px solid #fff;
}

.menu__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 32px;
  margin-bottom: 46px;
  border-radius: 20px;
  background-color: #313131;
  text-decoration: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.menu__close-button {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 22px;
  height: 22px;
  border: 0;
  outline: 0;
  background: url('../../images/menu__close-button.svg') no-repeat center center;
  background-size: contain;
  background-color: inherit;
  transform: rotate(-45deg);
}

@media screen and (min-width: 768px) {
  .menu__button {
    width: 28px;
    height: 23px;
    margin-right: 8px;
    margin-top: 3px;
  }

  .menu__container {
    left: 248px;
  }

  .menu__nav {
    margin-top: 160px;
  }

  .menu__nav-list-item {
    margin-bottom: 28px;
  }

  .menu__nav-link_active {
    padding-bottom: 4px;
  }

  .menu__profile {
    margin-bottom: 90px;
  }

  .menu__close-button {
    top: 27px;
    right: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .menu__button {
    display: none;
  }

  .menu__cover {
    position: static;
  }

  .menu__container {
    position: static;
    flex-direction: row;
    height: auto;
    transition: none;
    transform: translateX(0);
  }

  .menu__container_type_mobile {
    display: none;
  }

  .menu__container_type_desktop {
    display: flex;
  }

  .menu__nav {
    flex-direction: row;
    margin-top: 0;
    margin-left: 44px;
  }

  .menu__nav-list {
    flex-direction: row;
  }

  .menu__nav-list-item {
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }

  .menu__nav-list-item:last-child {
    margin-right: 0;
  }

  .menu__nav-link_active {
    font-weight: 500;
    border: none;
    padding-bottom: 0;
  }

  .menu__profile {
    margin-bottom: 0;
  }
}
