.content-container {
  width: 91.25%;
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 91.1875%;
  }
}

@media screen and (min-width: 1280px) {
  .content-container {
    width: auto;
  }
}
