.portfolio {
  padding-bottom: 51px;
}

.portfolio__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 14px;
  box-sizing: border-box;
}

.portfolio__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.portfolio__list-item {
  position: relative;
  width: 100%;
  padding: 20px 0 19px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.portfolio__list-item:last-child {
  border: none;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.portfolio__link::after {
  content: '';
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: url('../../images/portfolio__link-img.svg') no-repeat center center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 70px;
  }

  .portfolio__content {
    padding: 0 50px;
  }
  
  .portfolio__title {
    font-size: 18px;
  }
  
  .portfolio__list {
    margin-top: 30px;
  }
  
  .portfolio__list-item {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__link::after {
    right: 6px;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1024px)  {
  .portfolio {
    padding-bottom: 106px;
  }

  .portfolio__content {
    padding: 0 70px;
  }
  
  .portfolio__list-item {
    border-color: #424242;
    font-size: 30px;
  }

  .portfolio__link::after {
    right: 7px;
    width: 16px;
    height: 16px;
  }
}
